@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');

body{
    margin:0;
    padding:0;
    font-family: 'Maven Pro';
    overflow-x: hidden;
}

a{text-decoration: none; color: inherit;}
ul{margin: -5px 0 0 0;}
li {
    list-style: none;
}

#topo {
    width: 96%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.1);
    padding: 1% 2%;
    position: fixed;
    z-index: 1;
    background-color: white;
}

.logo{
    height: 80px;
}

.logo img{
    height: 100%;
}

.menu {
    font-family: 'Maven Pro', sans-serif;
}

.menu li{
    transition: all 0.4s linear;
    display: inline;
    margin: 0 5px;
    font-weight: 400;
    color: rgb(71, 71, 71);
    font-size: 1.2em;
}

.menu li:hover{
    color: #26a0d9;
    font-size: 1.3em;
    transition: all 0.4s linear;
}

.hamburguer{
    display: none!important;
    cursor: pointer;
}

.menuMobile{
    background-color: #fdfcfc;
    position: absolute;
    z-index: 10;
    top:-700%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: all 1s linear;
}
.menuMobile li {
    text-align: center;
    font-family: "Maven Pro";
    font-size: 1.7em;
    margin: 5% 0;
    transition: all 0.4s linear;
}

.menuMobile li:hover{
    color: #26a0d9;
    font-size: 1.9em;
    transition: all 0.4s linear;
}

.menuMobile img{
    width: 70%;
    -webkit-animation: infinite alternate logo 2500ms;
}
.menuMobile .close{
    align-self: flex-end;
    position: relative;
    right: 3%;
    top:3%;
    cursor: pointer;
}

main{
    position: relative;
    top: 100px;
}

.apresentacao{
    width: 98%;
    display: flex;
    justify-content: space-between;
    padding: 5% 1%;
}

#imgApresentacao{
    width: 35%;
    position: relative;
    left:-50%;
    transition: all 1s linear;
}

#imgApresentacao img{
    width:100%
}

.textoApresentacao{
    font-family: "Maven Pro";
    font-weight: 500;
    font-size: 1.5em;
    position: relative;
    top:-250px;
    text-align: center;
    transition: all 1s linear;
}

.textoApresentacao a{
    background: linear-gradient(118.1deg, #26a0d9 -2.02%, #13F1FC 129.72%);
    padding: 5%;
    color: white;
    transition: all 1s linear;
    border-radius: 10px;
}

.textoApresentacao a:before{
    border-radius: inherit;
	display: block;
	content: '';
    position: absolute;
    top: 85px;
    left: 4px;
	background: linear-gradient(135deg, #21d4fd 25%, #26a0d9 75%);	
	transition: all 1s;
	transform: translate(-25%, -25%);
	z-index: 0;
}
.textoApresentacao a:after{
	display: block;
	margin: 6px;
	background-size: cover;
	content: '';
	position: absolute;
	top: 0; left: 0;
	z-index: 1;
}

.textoApresentacao div{
    transition: all 0.4s linear;
    -webkit-animation: botao 600ms alternate infinite ease;
    -moz-animation: botao 600ms alternate infinite ease;
}

.textoApresentacao div:hover{transform: scale(1.1);}

.textoApresentacao a:hover {
    background: linear-gradient(118.1deg, #13F1FC -2.02%, #26a0d9 129.72%);
}

#minhaApresentacao{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#minhaApresentacao img{
    width: 80%;
    border-radius: 100%;
}
#minhaApresentacao .icons{
    margin-top: 5px;
}

.icons i{
    margin: 0 5px;
    transition: all 0.4s linear;
}
.icons a:first-of-type:hover i, .icons a:last-of-type:hover i{color: #4267db;
}
.icons a:nth-child(3):hover i{color: inherit;}
.icons a:hover i{
    color: #2bd247;
    -webkit-animation: icones 600ms alternate infinite ease;
    -moz-animation: icones 600ms alternate infinite ease;;
}

#sobre, #habilidades{
    padding: 0 2%;
    font-size:1.3em;
}
#sobre h2, #habilidades h2{
    text-align: center;
}
.containerCards{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size:1.1em;
    height: auto;
    position: relative;
    left: -100%;
    transition: all 1.2s linear!important;
}
.containerCards div h2{
    color: #26a0d9;
}

.containerCards .card{
    width: 33%;
    font-size: 0.8em;
    margin: 0 15px;
    transition: all 0.4s linear;
}

.containerCards .card:hover{
    box-shadow: 2px 3px 15px #26a0d9;
    transition: all 0.4s linear;
}

.containerCards .cardImagens{
    width: 100%;
}

.containerCards .cardImagens img{
    width: 31%;
}
/*@-webkit-keyframes icones{from {-webkit-transform: scale((1));}to {-webkit-transform: scale(1.2);}}
@-moz-keyframes icones{from {-webkit-transform: scale((1));}to {-webkit-transform: scale(1.2);}}
@-webkit-keyframes logo{from {-webkit-transform: scale((1));}to {-webkit-transform: scale(1.1);}}
@-moz-keyframes logo{from {-webkit-transform: scale((1));}to {-webkit-transform: scale(1.1);}}

/*Media Queries*/
@media (max-width:800px){
    .containerCards{
        flex-direction: column;
        align-items: center;
    }
    .card{
        width: 80%!important;
        margin: 10px 0!important;
    }
}

@media (max-width:500px){
    .cardImagens{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cardImagens img{
        width: 55%!important;
    }
}

@media (max-width:767px){
    .menu{display: none;}
    .hamburguer{display: block!important;}
}

@media (max-width:700px){
    .apresentacao{
        flex-direction: column;
        align-items: center;
    }
    #imgApresentacao{
        display: none;
    }   
    #minhaApresentacao{
        width: 80%;
        margin-top: 30px;
    }
}