@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');

body{
    margin:0;
    padding:0;
}

a{text-decoration: none; color: inherit;}
ul{margin: -5px 0 0 0;}
li {
    list-style: none;
}


#topo {
    width: 96%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.1);
    padding: 1% 2%;
    position: fixed;
    z-index: 1;
    background-color: white;
}

.logo{
    height: 80px;
}

.logo img{
    height: 100%;
    transition: all 0.4s linear;
}

.logo img:hover{
    transition: all 0.4s linear;  
    transform: rotate(2deg) scale(1.1) skew(3deg, 3deg);
}

.menu {
    font-family: 'Maven Pro', sans-serif;
}

.menu li{
    transition: all 0.4s linear;
    display: inline;
    margin: 0 5px;
    font-weight: 400;
    color: rgb(71, 71, 71);
    font-size: 1.2em;
}

.menu li:hover{
    border-bottom: 0.4px solid #000;
    color: #26a0d9;
    font-size: 1.3em;
    transition: all 0.4s linear;
}

.apresentacao{
    width: 98%;
    position: relative;
    display: flex;
    justify-content: space-between;
    top: 100px;
    padding: 5% 1%;
}

#imgApresentacao{
    width: 40%;
    position: relative;
    left:-50%;
    transition: all 1s linear;
}

#imgApresentacao img{
    width:100%
}

.textoApresentacao{
    font-family: "Maven Pro";
    font-weight: 500;
    font-size: 1.5em;
    position: relative;
    top:-250px;
    text-align: center;
    transition: all 1s linear;
}

#minhaApresentacao{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#minhaApresentacao img{
    width: 80%;
    border-radius: 100%;
}
#minhaApresentacao .icons{
    margin-top: 5px;
}

.icons i{
    margin: 0 5px;
    transition: all 0.4s linear;
}
.icons a:first-of-type:hover i, .icons a:last-of-type:hover i{color: #4267db;
}
.icons a:nth-child(3):hover i{color: inherit;}
.icons a:hover i{
    transform: scale(1.4);
    color: #2bd247;
    transition: all 0.4s linear;
}


/*Media Queries*/
@media (max-width:700px){
    .apresentacao{
        flex-direction: column;
        align-items: center;
    }
    #imgApresentacao{
        display: none;
    }   
    #minhaApresentacao{
        width: 80%;
    }
}